#Screen { 
    opacity: 1;
    height: max-contents;

}
#clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

#miniBildet {
    position: absolute;
    width: 150px;
   top: 650px;
   left: 145px;
    
}

#liteBildet {
    
    width: 255px;
   
    
}