#Screen { 
    opacity: 1;
    height: max-contents;

}
#clock {
    position: absolute;
    top: 129px;
    left: 441px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(150, 151, 158);
    font-size: 119%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 75%;
    font-weight: 440;
    letter-spacing: 0.03em;
}

#miniBildet {
    position: absolute;
    width: 150px;
   top: 650px;
   left: 145px;
    
}

#liteBildet {
    
    width: 255px;
   
    
}