#Screen { 
    opacity: 1;
    height: max-contents;

}
#clock {
    position: absolute;
    top: 125px;
    left: 436px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 130%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

#miniBildet {
    position: absolute;
    width: 150px;
   top: 650px;
   left: 145px;
    
}

#liteBildet {
    
    width: 255px;
   
    
}